<!-- Footer -->
<footer class="page-footer font-small bg-blur pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h3 class="text-uppercase">ROUTE 80</h3>

                <h5>Contacts:</h5>
                <p>+359988876608</p>
                <h5>Address:</h5>
                <p>Bulgaria, Bojurishte bul. Evropeoski put 118</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <!--<h5 class="text-uppercase">Route 80</h5>-->

                <ul class="list-unstyled">
                    <li>
                        <h3 class="text-danger" href="/menu">Menu</h3>
                    </li>
                    <li>
                        <a class="text-danger" href="/about-us">About us</a>
                    </li>
                    <li>
                        <a class="text-danger" href="/contacts">Contacts</a>
                    </li>
                    <li>
                        <a class="text-danger" href="https://www.facebook.com/restaurant.route80">Facebook page</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="text-danger" href="https://www.facebook.com/restaurant.route80"> Route 80</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->