<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{/fragments/head}"></th:block>

<body>




<th:block th:include="~{/fragments/navbar}"></th:block>



<h1 class="text-center mt-2"> <div class="right">
    <a class="new-button btn btn-danger rounded-right" th:href="@{/comments/new}" role="button">New comment
        <i class="fas fa-plus"></i>
    </a>
</div><span style="color:red;">Welcome to the comments board!</span></h1>



<div class="container">
    <div th:object="${comment}"
         th:each="comment: ${comments}"
         class="my-3 border-secondary card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="col-10">
                    <span th:text="*{author}">Title</span>
                    <small>
                        <em>
                            (last updated on <span th:text="*{#temporals.format(updatedOn, 'dd-MM-yyyy HH:mm')}">1979-03-07</span>)
                        </em>
                    </small>
                </div>
                <div sec:authorize="hasRole('ADMIN')">

                    <a class="ml-3 text-danger" th:href="@{/comments/delete/{id}(id = *{id})}">Delete</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p th:text="*{description}" class="card-text"></p>
        </div>
    </div>
</div>




<div sec:authorize="hasRole('ADMIN')" th:replace="delete-comment :: delete-comment">
    Modal dialog for delete
</div>



<div th:replace="fragments/bootstrap-js :: bootstrap-js"></div>


</body>
</html>
