<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/navbar}"></th:block>


</header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <a class="navbar-brand" >
            <img src="/img/route80aboutus.jpg" width="840" height="151" alt="">
        </a>
        <!--<h1 class="text-danger">Route 80</h1>-->
        <hr class="my-3 bg-danger w-50"/>

        <div class="mapouter"><div class="gmap_canvas"><iframe width="850" height="500" id="gmap_canvas"
        src="https://maps.google.com/maps?q=route%2080&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="" scrolling="no" marginheight="0" marginwidth="0">
        </iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a></div>
    <style>.mapouter{position:relative;text-align:right;height:500px;width:850px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:850px;}</style></div>
        <p class="h4">You can find us here!</p>
        <hr class="my-3 bg-danger w-75" />
        <h3>
            <a class="text-danger" th:href="@{https://www.facebook.com/restaurant.route80}">Check</a>
            our facebook page.
        </h3>
        <hr class="my-3 bg-danger w-75" />
    </div>
</main>
<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>

</footer>
</body>
</html>
