<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--  <th:block th:include="~{/fragments/head}"></th:block>-->

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ROUTE 80</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/navbar}"></th:block>

</header>
<main>
    <div class="container bg-blur rounded mt-5 mb-4" th:each="m :${model}">
        <h1 th:text="*{m.name}" > </h1>
        <div  class="row mt-3 mb-3" >
            <div class="col-5 bg-dark rounded m-auto" style="height: 60vh; width: 200vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Salads</h3>
                <div  class="mt-3 rounded badge-info" >
                    <img class="mr-2" th:src="*{m.imgUrl}" alt="Food" width="400px" height="300px">
                    <span th:text="|Name: *{m.name} Price: *{m.price} lv|" ></span>
                    <span th:text="|Description: *{m.description}!|" ></span>
                </div>
            </div>

      </div>
    </div>
</main>
<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
