<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>


</head>
<body>
<header>
    <th:block th:include="~{/fragments/navbar}"></th:block>


</header>
<main>


    <div class="container">
        <img class="w3-display-container" src="/img/route/route13.jpg" alt="Snow">

            <a class="link"  th:href="@{/menu}">Menu</a>

    </div>

</main>
<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
