<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>

<!-- Navbar -->
<th:block th:include="~{/fragments/navbar}"></th:block>
<!-- EO: Navbar -->


<h1 class="home-paragraph" style="color:red" >Request count: <span style="color:red" th:text="${requestCount}">4</span></h1>
<h1 class="home-paragraph" style="color:red" >Product count: <span style="color:red" th:text="${productCount}">4</span></h1>
<h2 class="home-paragraph" style="color:red">Started on: <span style="color:red" th:text="${#temporals.formatISO(startedOn)}">4</span> </h2>

<p class="home-paragraph" style="color:red">
  Have fun!
</p>

<!-- Bootstap JS -->

<!-- EO: Bootstap JS -->


<footer class="footer bg-transparent  py-2">
  <th:block th:include="~{/fragments/footer}"></th:block>

</footer>
</body>
</html>
